---
import '../styles/global.css';
import 'bootstrap/dist/css/bootstrap.min.css';
import * as bootstrap from 'bootstrap';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <h1 class="mb-4">Mi Astro App con Bootstrap</h1>
        <button class="btn btn-primary">Botón de Bootstrap</button>
	</body>
</html>
